{% extends 'admin/change_list.html' %}

{% block object-tools %}
    {% url 'some_view' as pakua %}
    <button> <a href="{{ pakua }}">Download Service Tickets</a></button>
    <div>
        <form action="immortal/" method="POST">
            {% csrf_token %}
                <button type="submit">Make Immortal</button>
        </form>

        <form action="mortal/" method="POST">
            {% csrf_token %}
                <button type="submit">Make Mortal</button>
        </form>
    </div>
    <br />
    {{ block.super }}
{% endblock object-tools %}