{% extends 'admin/change_list.html' %}
{% comment %}
{% block object-tools %}
    {#  url 'vehicles:download_report' as report #}


        <form action="approve/" method="POST">
            {% csrf_token %}
                <button type="submit">Approve these Service Tickets</button>
        </form>

        <form action="disapprove/" method="POST">
            {% csrf_token %}
                <button type="submit">Disapprove these Service Tickets</button>
        </form>

    <br />
    {{ block.super }}
{% endblock object-tools %}
{% endcomment %}